<% if (starters.length > 0) { %>
<h3 class="mt-4 mb-4">
    Project starters
</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

    <% for(const page of starters) { %>

        <div class="col">
            <%- include("includes/_itemcard.ejs", {page, icon: "bi-star"}) %>
        </div>

    <% }%>
</div>

<% } %>

<% if (examples.length > 0) { %>

<h3 class="mt-4 mb-4">
    Examples
</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

    <% for(const page of examples) { %>

        <div class="col">
            <%- include("includes/_itemcard.ejs", {page, icon: "bi-joystick"}) %>
        </div>

        <% }%>
</div>

<% } %>


<% if (websites.length > 0) { %>

    <h3 class="mt-4 mb-4">
        Websites
    </h3>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    
        <% for(const page of websites) { %>
    
            <div class="col">
                <%- include("includes/_itemcard.ejs", {page, icon: "bi-star"}) %>
            </div>
    
        <% }%>
    </div>
    
<% } %>

<% if (plugins.length > 0) { %>

<h3 class="mt-4 mb-4">
    Plugins
</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

    <% for(const page of plugins) { %>

        <div class="col">

            <%- include("includes/_itemcard.ejs", {page, icon: "bi-plug"}) %>

        </div>

        <% }%>
</div>

<% } %>

<% if (libs.length > 0) { %>

<h3 class="mt-4 mb-4">
    Libraries
</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

    <% for(const page of libs) { %>

        <div class="col">

            <%- include("includes/_itemcard.ejs", {page, icon: "bi-gear"}) %>

        </div>

        <% }%>
</div>

<% } %>