<%- include("includes/_header") %>

    <div class="container mt-4">

        <div class="container mt-4">

            <h3 class="d-flex align-items-center mt-4">
                <img class="me-2 rounded-circle bg-primary" src="/<%= $page.$path %>/<%= $page.image %>" style="height: 1em;width:1em">
                <span><%= $page.title %></span>
            </h3>

            <p class="fw-light mb-4"><%= $page.description %></p>
    
            <%- include("includes/_itemgrid.ejs", {
                examples: site.__examples.$pages.filter(e => e.author === $page.$name),
                starters: site.__starters.$pages.filter(e => e.author === $page.$name),
                websites: site.__websites.$pages.filter(e => e.author === $page.$name),
                plugins: site.__plugins.$pages.filter(e => e.author === $page.$name),
                libs: site.__libs.$pages.filter(e => e.author === $page.$name)
            }) %>
    </div>


    <%- include("includes/_footer") %>